---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import ProjectCard from '@/components/ProjectCard.astro'
import Layout from '@/layouts/Layout.astro'
import { getAllProjects } from '@/lib/data-utils'

const projects = await getAllProjects()
---

<Layout class="max-w-3xl">
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p class="mt-0">
          Hey! My name is Dhruv Kulkarni, and I'm a fifth year Literature, Media, and Communication major at Georgia Tech with minors in Industrial Design and Astrobiology. I'm interested in entering museum education and accessibility, and hope to work on developing informal learning activities that communicate science or history through a hands-on art lens. I hate to do the icky professional thing, but if you'd like my resume, you can find it <a href="https://drive.google.com/file/d/1wuhoSl12-V2f1zE0_5aLbtTM63BR8y8O/view?usp=sharing">here</a>.
        </p>
        <p class="mt-0">
         This is my personal blog for whatever comes to mind. I'm still fleshing it out, and sections are a WIP, but I hope you enjoy this slice of my mind! Feel free to email me, and check out some of my writing! 
        </p>
      </div>
<!--
      <h2 class="mb-4 text-2xl font-medium">Example Projects Listing</h2>
      <div class="flex flex-col gap-4">
        {projects.map((project) => <ProjectCard project={project} />)}
      </div>
    -->
    </div>
  </section>
</Layout>
